<% if can? :update, event %>
<div>
  <% if event.space_available? == false %>
    <p> This event is full </p>
  <% end %>

  <table class='table'>
    <tr>
      <th>name</th>
    </tr>
  <% event.volunteers.each do |volunteer| %>
  <tr>
    <td><%= "#{volunteer.firstname}" %></td>
  </tr>
  <% end %>
</table>
</div>
<% end %>

