<div class='row'>
<% events.each do |event| %>
    <div class='event_wrapper col-md-3 col-sm-6'>

      <%= link_to(image_tag(event.image.detail.url, class: 'logo_image img-responsive'), event.group) unless event.image.detail.url.nil? %>
      <h3><%= event.name %></h3>
      <p><%= event.description %></p>
      <p><%= event.days_till_event %> days to go</p>
    </div>

<% end %>
</div>
