
<div id='banner'>

</div>

<div id='partners'>
</div>

<div class='content'>
  <div id='events_summary'>
    <h3>Popular pitches near you</h3>
    <%= render partial: "shared/event_summary", locals: {events: @local_events} %>
  </div>
  <div id='global_events'>
    <h3>Popular global pitches</h3>
    <%= render partial: "shared/event_summary", locals: {events: @events} %>
  </div>
  <div id='about'>
    <h2>About</h2>

  </div>
</div>
